.Page {
  font-family: cronos-pro, lato, sans-serif;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  color: rgb(40, 16, 15);
  padding: 2vh 4vw;
}

.Page__hero {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

.Page__title {
  font-weight: normal;
}

.Page__p {
  font-size: 20px;
  font-family: cronos-pro, lato, sans-serif;
  line-height: 1;
}
