.Trees {
  /* background: rgb(255,255,255); */
}
.Trees__form {
  /* margin: 2vh 4vw; */
}
.Trees__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Trees__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
