.Gallery {
    margin: 3vh auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Gallery__thumbnail {
    margin: 0 .5vw;
    width: 250px;
}

.Gallery__caption {
    color: rgba(0, 0, 0, .8);
    margin: 0;
    padding: .2em .2em;
}