.Logos-container {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}

.Logos {
  height: 120px;
  fill: white;
}

@media only screen and (max-width: 600px) {
  .Logos-container {
    display: none;
  }
}