.Page {
  padding: 5vh 10vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  background: rgb(224, 225, 225);
}

.Page__hero {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

.Page__title {
  font-weight: 400;
  color: rgb(56, 124, 70);
}

.Page__p {
  font-weight: 200;
  line-height: 2;
}

.Page__contact {
  color: rgb(56, 124, 70);
}
