.Species__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20vw;
  /* border: solid 1px grey; */
  margin: 1vw;
  padding: 1vw;
  border-radius: 6px;
  background: rgba(255, 255, 255);
  opacity: .6;
}

.Species__card:hover {
  opacity: 1;
}

.Species__names {
  margin: 0 auto;
}

.Species__common, .Species__latin {
  margin: 0 auto;
}

.Species__common,
.Species__info {
  color: rgb(40, 16, 15);
  
}
.Species__sketch {
  width: 100px;
}
.Species__latin {
  color: rgb(56, 124, 70);
}

.Species__info {
  font-size: 18px;
  margin: 0 auto;
}
