.Species__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20vw;
  border: solid 1px grey;
  margin: 1vw;
  padding: 1vw;
}

.Species__sketch {
  width: 300px;
}
.Species__latin {
  color: rgb(56, 124, 70);
}

.Species__info {
  font-weight: 350;
}
